_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
._*
.AppleDouble
.DS_Store
.LSOverride
[568vq].out
*.[568vq]
*.a
*.cgo1.go
*.cgo2.c
*.exe
*.o
*.prof
*.so
*.test
ehthumbs.db
Thumbs.db
